<launch>
	<!-- Arguments -->
	<arg name="node_start_delay" 	default="10.0" />
	<arg name="world" 				default="LVL_Two.world"/>
	<arg name="slam"				default="false"/>

	<!-- WheelChair Coordenates -->
	<arg name="x" 					default="0"/>
    <arg name="y" 					default="0"/>
    <arg name="z" 					default="0.0"/>
    <arg name="roll" 				default="0.0"/>
    <arg name="pitch" 				default="0.0"/>
    <arg name="yaw" 				default="3.93"/>

	<!-- Model description -->
	<include file="$(find intellwheels_desc)/launch/wheelchair.launch"/>

	<!-- Model spawner -->
	<node name="spawner" pkg="gazebo_ros" type="spawn_model"
		  args="-param robot_description -urdf -model wheelchair -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

	<!-- Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui_required"	value="true"/>
		<arg name="world_name"		value="$(find wheelchair_simulation_navegation)/worlds/$(arg world)"/>
	</include>

    <!-- Murge filter -->
	<node pkg="ira_laser_tools" name="laserscans_merger" type="laserscan_multi_merger" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="destination_frame" value="base_link" />
        <param name="cloud_destination_topic" value="/points"/>
        <param name="scan_destination_topic" value="/scan"/>
        <param name="laserscan_topics" value="/left_front_rplidar_scan /right_back_rplidar_scan"/>

        <param name="angle_min" value="-3.14"/>
        <param name="angle_max" value="3.14"/>
        <param name="angle_increment" value="0.00290888208" />
        <param name="scan_time" value="0.0333333"/>
    	<param name="range_min" value="0.0"/>
		<param name="range_max" value="20.0"/>
	</node>

	<!-- SLAM -->
	<node pkg="iris_rtk_ros" type="pf_slam2d_ros" name="mapping" output="screen" if="$(arg slam)">
        <param name="scan_topic" value="scan"/>
    </node>

	<!--RVIZ Vizualisation-->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair_simulation_navegation)/rviz/test.rviz"/>
</launch>
