<launch>
    <!-- Arguments -->
    <arg name="world"       default="LVL_Six"/>
    <arg name="planner"     default="teb"/>
    <arg name="problem"     default="1"/>
    <arg name="slam"        default="false"/>

    <group if="$(eval arg('problem') == 1)">
        <include file="$(find wheelchair_simulation_navegation)/launch/gazebo_simulator.launch">
            <arg name="x" 		default="1"/>
            <arg name="y" 		default="1"/>
            <arg name="z" 		default="0.0"/>
            <arg name="roll" 	default="0.0"/>
            <arg name="pitch" 	default="0.0"/>
            <arg name="yaw" 	default="0"/>

            <arg name="world"   default="$(arg world).world"/>
        </include>

        <include file="$(find wheelchair_simulation_navegation)/launch/navegation.launch">
            <arg name="planner" default="$(arg planner)"/>
            <arg name="world"   default="$(arg world).yaml"/>
            <arg name="slam"    default="$(arg slam)"/>
        </include>

        <node pkg="wheelchair_simulation_navegation" type="initialPoser.sh" name="inicialPoser" args="0.529886 0.677173 0 0 0 2.34981"/>
    </group>

    <group if="$(eval arg('problem') == 2)">
        <include file="$(find wheelchair_simulation_navegation)/launch/gazebo_simulator.launch">
            <arg name="x" 		default="2.23"/>
            <arg name="y" 		default="9.52"/>
            <arg name="z" 		default="0.0"/>
            <arg name="roll" 	default="0.0"/>
            <arg name="pitch" 	default="0.0"/>
            <arg name="yaw" 	default="0"/>

            <arg name="world"   default="$(arg world).world"/>
        </include>

        <include file="$(find wheelchair_simulation_navegation)/launch/navegation.launch">
            <arg name="planner" default="$(arg planner)"/>
            <arg name="world"   default="$(arg world).yaml"/>
            <arg name="slam"    default="$(arg slam)"/>
        </include>

        <node pkg="wheelchair_simulation_navegation" type="initialPoser.sh" name="inicialPoser" args="-6.283480 -4.361756 0 0 0 2.349810"/>
    </group>

    <group if="$(eval arg('problem') == 3)">
        <include file="$(find wheelchair_simulation_navegation)/launch/gazebo_simulator.launch">
            <arg name="x" 		default="9.45"/>
            <arg name="y" 		default="4.95"/>
            <arg name="z" 		default="0.0"/>
            <arg name="roll" 	default="0.0"/>
            <arg name="pitch" 	default="0.0"/>
            <arg name="yaw" 	default="3.14"/>

            <arg name="world"   default="$(arg world).world"/>
        </include>

        <include file="$(find wheelchair_simulation_navegation)/launch/navegation.launch">
            <arg name="planner" default="$(arg planner)"/>
            <arg name="world"   default="$(arg world).yaml"/>
            <arg name="slam"    default="$(arg slam)"/>
        </include>

        <node pkg="wheelchair_simulation_navegation" type="initialPoser.sh" name="inicialPoser" args="-8.334184 3.917321 0 0 0 5.48981"/>
    </group>
</launch>
